<section class="hero">
  <div class="hero-head has-background-danger has-text-centered has-text-weight-medium has-text-dark">
    <!-- Error Display -->
    <div class="container">
      <% if @errors%>
        <%@errors.each do |error|%>
          <%=error%><br />
            <%end%>
              <%end%>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-head has-background-danger-light has-text-centered has-text-weight-medium has-text-danger">
    <!-- Error Display -->
    <div class="container">
      <% if flash.has?(:notice)%>
        <%= flash[:notice]%>
          <%end%>
    </div>
  </div>
</section>
<!-- Route Action -->
<form action="/workouts" method="POST">
  <!-- Date -->
  <div class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-3">Create a Workout</h1>
        <br />
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input type="date" name="workout[date]" />
          </div>
        </div>
        <!-- Target Area  -->
        <div class="field">
          <label class="label">Target Area</label>
          <div class="control">
            <input type="text" name="workout[target_area]" />
          </div>
        </div>
        <!-- Activity -->
        <div class="field">
          <div class="control">
            <label class="label">Activity</label>
            <textarea name="workout[activity]" class="textarea is-primary is-medium"></textarea>
          </div>
        </div>
        <!-- Duration -->
        <div class="field">
          <label class="label">Duration</label>
          <div class="control">
            <input type="text" name="workout[duration]" />
          </div>
        </div>
        <!-- Submit -->
        <input type="submit" class="button is-medium is-success is-light" value="Save">
        <!-- Cancel Button -->
        <button class="button is-medium is-danger is-light"><a href="/workouts">Cancel</a></button>
      </div>
    </div>
  </div>
  </div>
</form>