<h1>Workouts:</h1>
<% if @workouts.empty? %>
<h2>no workouts to display</h2>
<%else%>
<% @workouts.each do |workout|%>
<%=workout.day_of_week%> <a href="/workouts/<%=workout.id%>"><br><%=workout.target_area%></a><br><br>
<%end%>
<%end%>
