<h1>Update you Account</h1>
<form action="/users/<%=current_user%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input type="text" name="user[name]" value="<%=current_user.name%>">
  <label for="email">Email</label>
  <input type="text" name="user[email]" value="<%=current_user.email%>">
  <label for="password">Password</label>
  <input type="text" name="user[password]">
  <input type="submit" name="Update">
</form>
<a href="/workouts">CANCEL</a>
