<h2>SIGN UP</h2>
<form action="/signup" method="POST">
  <input type="text" name="user[name]" placeholder="name"  required="required">
  <input type="text" name="user[email]" placeholder="email" required="required">
  <input type="password" name="user[password]" placeholder="password" required="required">
  <input type="submit" value="SIGNUP">
</form>
Already Have an Account?<a href="/login">LOGIN</a>