<h2>SIGN UP</h2>
<form action="/signup" method="POST">
    <input type="text" name="user[name]" placeholder="name">
    <input type="text" name="user[email]" placeholder="email">
    <input type="text" name="user[password]" placeholder="password">
    <input type="submit" value="SIGNUP">
</form>