<div class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title has-text-dark">Welcome to Sweat Planner</h3>
        <div class="box">
          <p class="is-size-4">Flexible Workout Planner</p>
          <img src="/images/derick-mckinney-__QqvTI5Edc-unsplash.jpg" />
          <div class="buttons is-centered">
            <button class="button is-link is-light">
              <a href="/login">LOGIN</a>
            </button>
            <button class="button is-link is-light">
              <a href="/signup">SIGN UP</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
