<div class="container has-text-centered">
  <br>
  <div class="columns is-centered mt-6">
    <div class="column is-5">
      <figure class="image is-4by3">
        <img
            src="/images/kelly-sikkema-IZOAOjvwhaM-unsplash.jpg"
            alt="Description"
          />
        </figure>
      </div>
      <div class="column is-4 is-offset-1">
        <h1 class="title is-2">Sweat Planner</h1>
        <p>A flexible workout planner to help plan your workouts in advance.</p>
        <br />
        <br />
        <div class="buttons is-centered">
          <button class="button is-medium is-link is-light">
            <a href="/login">LOGIN</a>
          </button>
          <button class="button is-medium is-link is-light">
            <a href="/signup">SIGN UP</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-foot">
  <div class="container">
    <div class="tabs is-left">
      <ul>
        <div class="level-right">
          <small class="level-item" style="color: var(--textLight)">
            &copy; 2020 SweatPlanner.
          </small>
        </div>
      </ul>
    </div>
  </div>
</div>
